<div class="top-box">
  <h3>Account Codes</h3>
  <div class="table">
    <div class="table-body">
      <div class="table-row header-row">
        <div class="table-cell">Code</div>
        <div class="table-cell">Owner</div>
        <div class="table-cell" style="min-width: 250px;">Description</div>
      </div>
      <% @costcodes.each do |costcode| %>
        <div class="table-row">
          <div class="table-cell"><%= costcode.code %></div>
          <div class="table-cell"><%= costcode.owner%></div>
          <div class="table-cell"><%= costcode.description %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if session[:user_auth] > 2 %>
<div class="top-box">
  <h3>Add New Account Code</h3>
  <div><%= flash[:notice] %></div>
  <form class="register-form" action="/new-costcode" method="post">
    <input type="text" name="code" placeholder="Code (ie 901)" size="12">
    <input type="text" name="owner" placeholder="Owner" size="28"><br>
    <input type="text" name="description" placeholder="Description" size="43"><br>
    <input class="btn" type="submit" name="Submit" value="submit">
  </form>
</div>
<% end %>
