<h2>Welcome back, <%= @user.firstname %></h2>


<div class="">
  <div class="table">
    <div class="table-body">
      <div class="table-row">
        <div class="table-cell border"><h2>Your Projects</h2>
        <% @user.projects.each do |project| %>
          <div>
            <a class="project-link" href="/project-summary?project_id=<%= project.id %>"><%= project.title %></a>
          </div>
        <% end %>
      </div>

      </div>
    </div>
  </div>
</div>
