<h1>Home</h1>
<h2>Welcome back, <%= @user.firstname %></h2>
<h4>Projects</h4>
<% @user.projects.each do |project| %>
  <div>
    <a class="project-link" href="/project-summary?project_id=<%= project.id %>"><%= project.title %></a>
  </div>
<% end %>
<form action='/project'>
  <input type="text" name="new" placeholder="New Project Title" size="50">
  <input class="btn" type="submit" value="Create New Project">
</form><br>
<% if @user.level > 2 %>
  <a href="/users">Edit Users</a>
<% end %>
