<h2>Welcome back, <%= @user.firstname %></h2>
<h4>Your Projects</h4>
<% @user.projects.each do |project| %>
  <div>
    <a class="project-link" href="/project-summary?project_id=<%= project.id %>"><%= project.title %></a>
  </div>
<% end %>
