<head>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="style.css" type="text/css" />
</head>


<img class="logo" src="https://cxjwka.by3301.livefilestore.com/y4mrNv2ylmjBrAbna_EaiH3RSvIhxW8orJSq8dKc5uQpDCGWPX7tsazY4DoST78RiOF7fmpazYpknopfG6Ehc_iQt29cpfdnNyNdzvgwn2vEmixLtWsd4TyqK8OAarv1Hj5IR44yvM-uLdPxrsZxXMiOYJPfd3pd624s7mNGWb5KMYl7XwYX1jZVHJ1pWUG0C9n-2xUyyY5GjyQhaiueGhVnw?width=1024&height=335&cropmode=none" width="624" />
<h2 class="title">elemental</h2>
<div class="sign-in">
  Existing Users - Sign In
  <div class="flash"><%= flash[:notice] %></div>
  <form class="sign-in-form" action="/sign-in" method="post">
    <input type="text" name="email" placeholder="email address" size="50"><br>
    <input type="password" name="password" placeholder="password" size="50"><br>
    <input class="btn" type="submit" name="Submit" value="submit">
  </form>

</div>
