<head>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="style.css" type="text/css" />
</head>


<div class="banner header">
  <a href="/home"><strong>FACTORY SETTINGS </strong>
    <span class="title"> elemental </span></a><br>
    <span class="logout"><a href="/logout">Log-out</a></span>
</div>

<%= yield %>
