<head>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="style.css" type="text/css" />
</head>

<div class="table content">
  <div class="table-body">
    <div class="table-cell menu">
      <a href="/home">
        <img class="main-logo" src="white_logo.png" width="100" />
        <div class="main-title">
          elemental
        </div>
      </a>
      <div class="menu-item"><a href="/projects">Projects</a></div>
      <div class="menu-item"><a href="/clients">Clients</a></div>
      <div class="menu-item"><a href="/materials">Materials</a></div>
      <% if session[:user_auth] > 2 %>
        <div class="menu-item"><a href="/users">Users</a></div>
      <% end %>
      <div class="menu-item"><a href="/logout">Log Out</a></div>
    </div>
    <div class="main table-cell fade-quick"><%= yield %></div>
  </div>
</div>
