
body {
  font-family: 'Avenir', sans-serif;
  margin: auto;
  text-align: center;
  font-size: 14px;
  max-width: 100vw;
  background-color: #eeeeee40;
}
h2 {
  margin: 0 0 10px 0;
}
h3 {
  margin: 0 0 10px 0;
}
.fade-in {
  animation: fadein 3s;
}
.fade-quick {
  animation: fadein 1s;
}
.fade-fast {
  animation: fadein 0.5s;
}
@keyframes fadein {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@media print
{
  .table {
    break-inside: auto;
  }
  .table-row{
    break-inside: avoid;
  }
}
.bg {
  color: white;
  width: 100%;
  height: 100%;
  background-size:cover;
}
.main {
  padding-top: 10px !important;
  vertical-align: top !important
}
form {
  margin-bottom: auto;
}
a {
  text-decoration: none;
}
.banner a{
  color: white;
}
input, select, textarea {
  font-size: 100%;
  margin: 2px;
  padding: 5px;
  border: 1px solid #eeeeee;
}

.single-digit {
  width: 55px;
  text-align: center;
}
.double-digit {
  width: 80px;
  text-align: center;
}
.description {
  max-width: 30vw;
}

.mat-dropdown {
  max-width: 250px;
}
.cc-dropdown {
  max-width: 75px;
}
.title{
  letter-spacing: 4px;
  font-size: 35px;
  text-align: center;
}
.header-row a {
  color: white;
}
.logo{
  padding-top: 20vh;
}
h2 {
  color: #722F4B;
}
.banner {
  font-family: 'Avenir', sans-serif;
  color: white;
  padding: 20px;
  background: #000000;
}

.header {
  font-size: 40px;
  text-align: left;
  letter-spacing: 4px;
}

.footer {
  height: 20px;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.btn {
  background: #722F4B;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 8px 5px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #322B6A;
  color: #ffffff;
  text-decoration: none;
}

.flash {
  color: red;
  font-style: italic;
}

.table{
  display: inline-table;

}
.summary{
  max-width: 500px;
}
.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 2px 4px 2px 4px;
  vertical-align: middle;
}

.grey-cell{
  border-bottom: 0.5px solid #ffffff;
  background-color: #eeeeee;
}

.top-box {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: white;
}
.project-header {
  padding: 30px 50px 30px 50px;
  min-height: 150px;
}
.top-limit {
  min-width: 200px;
  min-height: 430px;
}
.table-body {
  display: table-row-group;
}
.header-row {
  background-color: #322B6A !important;
  font-weight: bold;
  color: white;
}

.project-link{
  font-size: 120%;
}

.new-user {
  background: #eeeeee;
  padding: 10px;
  margin: 5px;
}
.content{
  position:relative;	/* This fixes the IE7 overflow hidden bug */
  clear:both;
  float:left;
  width:100%;			/* width of whole page */
  overflow:hidden;
  margin:0;
  min-height: 100%;
}
.menu {
  background: linear-gradient(to bottom, #322B6A 0px,#eeeeee 170px);
  width: 150px;
  height: 100%;
  vertical-align: top !important;
}
.menu-item {
  text-align: right;
  font-size: 18px;
  margin: 5px;
}
.menu a{
  text-decoration: none;
  color: #722F4B;
  font-weight: 500;
}
.main-logo {
  margin: 12px;
}
.main-title {
  color: white;
  font-size: 150%;
  padding-bottom: 45px;
}
.border {
  border: 0.5px solid #eeeeee;
}
.dashboard {
  font-size: 25px;
  color: grey;
  vertical-align: middle;
  padding: 80px;
}
.remove-link {
  color: #722F4B;
  padding-top: 8px;
}
.cancelled {
  background-color: #ffebee;
}
.complete {
  background-color: #f1f8e9;
}
.report-key {
  text-align: right;
  font-weight: bold;
  min-width: 150px;
}
.quotation-element {
  text-align: left;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.t-and-c {
  font-size: 12px;
  font-style: italic;
}
.terms-body {
  margin: 30px;
  text-align: left;
}
.terms-section {
  padding: 15px;
}
