a {
  text-decoration: none;
  }
.banner a{
  color: white;
  }
input, select {
  font-size: 100%;
  margin: 2px;
}

.title{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  font-size: 35px;
  text-align: center;
}

.logo{
  padding-top: 20px;
}

.banner {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 20px;
  background: #000000;
  }

.header {
  font-size: 40px;
  text-align: left;
  letter-spacing: 4px;
  }

.footer {
  height: 20px;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body{
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
  font-size: 100%;
}

.btn {
  background: #000000;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border-width: 0.5px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 5px 8px 5px 8px;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  color: #000000;
  text-decoration: none;
  border: 0.5px solid black;
}

.flash {
  color: red;
  font-style: italic;
}

.table{
   display: inline-table;
   width: 90%;
   font-size: 90%;
   margin: 3px;
}
.summary{
  max-width: 500px;
}
.table-row {
	display: table-row;
}
.table-cell {
  border: 1px solid #eff0f2;
	display: table-cell;
	padding: 10px 16px 10px 16px;
  vertical-align: top;
  }
.table-body {
	display: table-row-group;
}
.header-row {
  background-color: #ede1de;
  font-weight: bold;
}

.project-link{
  font-weight: bold;
  font-size: 120%;
}

.new-user {
  border: 1px solid #eff0f2;
  padding: 10px;
  margin: 5px;
}
.logout {
  text-align: right;
  font-size: 10px;
}
